<% content_for :title, "Analytics" %>
<% content_for :header_scripts do %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= javascript_pack_tag 'chartkick' %>
<% end %>

<h1>Searches</h1>
<div class="row">
  <section class="col-lg-6 col-sm-12">
    <h2>Trend Searches</h2>
    <%= pie_chart @trends %>
  </section>
  <section class="col-lg-6 col-sm-12">
    <h2>Top users search count for 1 week:</h2>
    <%= bar_chart @ips,  xtitle: "Search times", ytitle: "IPs" %>
  </section>
  <section class="col-lg-6 col-sm-12">
    <h2>Top 20 searches for 1 week:</h2>
    <%= column_chart @top_searches,  xtitle: "Search Terms", ytitle: "Search Times" %>
  </section>
  <section class="col-lg-12 col-sm-12">
    <h2>Searches timeline</h2>
    <%= area_chart @search_timeline, xtitle: "Timeline", ytitle: "Search times" %>
  </section>
</div>
